*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.boardContainer, .startScreen {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.startScreen {
    display: flex;
}

.playerNames {
    font-weight: bold;
    color: darkslateblue;
    font-size: 1.25rem;
}

input[type='text'] {
    border: 1px solid darkslateblue;
    border-radius: 5px;
    padding: 5px;
}

.startButton, .restartButton, .gameState {
    font-size: 1.25rem;
    height: 40px;
    aspect-ratio: 5 / 1;
    border: none;
    background-color: darkslateblue;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.boardContainer {
    display: none;
}

.board {
    display: grid;
    height: 500px;
    aspect-ratio: 1 / 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: 2px solid darkslateblue;
    height: calc(500px / 3);
    aspect-ratio: 1 / 1;
    font-size: 10rem;
    background-color: rgb(222, 217, 248);
    color: darkslateblue;
}

.gameState {
    height: initial;
    aspect-ratio: 0;
    background-color: white;
    color: darkslateblue;
}